 {% if include.wiki %}
                {{ include.wiki }}
            {% endif %}
<div class="row o-section">  
  {% if person.uid %}
    <div class="columns large-12">
      <header class="c-page-header">
        <h3 itemprop="headline" class="c-page-title">Moje články</h3>
      </header>
    </div>

    <div class="columns large-12">
      <div class="{% if include.contentClass %}{{ include.contentClass }}{% endif %}">
        <div itemprop="description" class="c-content-block c-emphasized-text">
          {{ person.uid }}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>